#container-principal {
  width: 95vw;
  height: 100vh;
  background: #ffa500;
}

#header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header h1 {
  font-size: 3.2rem;
}

#conteudo {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.container-ancora {
  display: grid;
  grid-template-columns: 1fr 40rem;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'item1 item11'
    'item2 item21';
  align-items: center;
  grid-gap: 1rem;
}

button#Beolica {
  border-radius: 5rem;
  width: 5.21rem;
  height: 5.21rem;
  grid-area: item1;
  align-self: center;
  border: 0.8rem solid orange;
  border-width: 0.52rem;
  background-image: url('../../assets/soalr.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

button#Bsolar {
  border-radius: 5rem;
  grid-area: item2;
  width: 5.21rem;
  height: 5.21rem;
  border: 0.8rem solid orange;
  border-width: 0.52rem;

  background-image: url('../../assets/4x4.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

a#Teolica {
  text-decoration: none;
  grid-area: item11;
  font-size: 1.67rem;
}

a#Tsolar {
  grid-area: item21;
  text-decoration: none;
  font-size: 1.67rem;
}
#eolica {
  font-size: 3.3rem;
  margin-top: 5rem;
}
#quiz {
  font-size: 3.33rem;
}

.container-desenhos {
  background-color: blue;
}

#download {
  width: 20rem;
  height: 5rem;
  background: #f6b53c;
  border-radius: 0.8rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  border: 0;
  margin-top: 3rem;
  transition: background-color 0.2s;
  cursor: pointer;
}

h1#quiz {
  padding: 2.08rem;
}
