.containerPergunta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh;

  column-gap: 1rem;
  margin-bottom: 5rem;
}

#item1 img {
  width: 10rem;
  height: 10rem;
}

#item2 {
  width: 20rem;
  height: 10rem;
}
#item2 p {
  font-size: 2rem;
}

#item2 button {
  border-radius: 5rem;
  width: 4.17rem;
  height: 3.66rem;
  background: #fff;
  border: 0.2rem solid black;
  color: black;
  font-weight: bold;
  float: right;
  margin-right: 3rem;
  cursor: pointer;
}

.containerResposta {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  grid-template-rows: 10vh 10vh;
  grid-gap: 10rem;
  align-items: center;
  margin: 1rem;
}
.containerResposta label {
  margin-top: 1.6rem;
  padding: 2rem;
}
.containerResposta label p {
  margin-left: 3.2rem;
}
.containerResposta label > input {
  visibility: hidden;
}

.containerResposta label > img {
  width: 10rem;
  height: 10rem;
}

.containerResposta label > input + img {
  cursor: pointer;
  border: 0.42rem solid #eee;
  border-radius: 1.6rem;
  padding: 1.4rem;
}
.containerResposta label > input:checked + img {
  border: 0.42rem solid #3f51b5;
}

.acoes {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#anterior {
  width: 10rem;
  height: 5rem;
  background: #f6b53c;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  border: 0;
  margin-top: 3rem;
  margin-left: 3rem;
  cursor: pointer;
}

#proxima {
  width: 10rem;
  height: 5rem;
  background: #f6b53c;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  border: 0;
  margin-top: 3rem;
  margin-left: 1rem;
  transition: background-color 0.2s;
  cursor: pointer;
}
