:root {
  --primary-color: #34cb79;
  --title-color: #322153;
  --text-color: #6c6c80;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  background: #ffa500;
}

body {
  background: #ffa500;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
body,
input,
button {
  font: 500 1.6rem Poppins;
}

.container {
  width: 10vw;
  max-width: 700px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--title-color);
  font-family: Poppins;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
